### Introduction to python
This is our introduction to python programming Language

In [1]:
print ("Hello World")

Hello World

In [ ]:
# This is a comment,ython will ignore this line

#### Variable
A variable stores values in python,these values can be reused by calling the variable name

In [6]:
# This is a variable
score = 20

In [8]:
score * 100

2000

In [9]:
name='Chiamaka'

In [11]:
print(name)

Chiamaka

##DATA TYPES IN PYTHON
Data types are the classification or categorization of data items.It represents the kind of values that tells what operations can be performed on a particular data.

The followin are the standard or built in data type in Python.
-Numeric
 .Integer:Numeric whole number
 .Float;A continious numeric value(decimal)
-Sequence Type(Strings);A sequence of character
-Booolean;A true/false statement

In [2]:
#Numeric
age=25

In [3]:
#Numeric(float)
height =5.1

In [4]:
#string
name='Alice'

In [5]:
#Boolean asks question
is_student=True

### Operators and Expressions In Python
Operators are specia; symbols in python that carry out arithmetrics or logical computation.The vallue the operator oprates on is called the 
Operand

In [8]:
##Addition Operation
2+4

6

In [10]:
##Subtraction Operation
6-4

2

In [11]:
##Multiplication

In [14]:
## The addition oferator can also be used to concatenate strings
name+" "+name

'Alice Alice'